In [1]:
import pandas as pd

In [2]:
import json
from pandas.io.json import json_normalize

In [3]:
# set display options to 22 columns
pd.set_option('display.max_columns', 22)

In [4]:
# set display wider
pd.set_option('max_colwidth', 800)

In [5]:
# read in json file
yelp_df = pd.read_json('/Users/klee/Downloads/yelp_academic_dataset_business_revised.json')

In [7]:
# view first row of data set
yelp_df.head(1)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,1314 44 Avenue NE,"{'BikeParking': 'False', 'BusinessAcceptsCreditCards': 'True', 'BusinessParking': '{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}', 'GoodForKids': 'True', 'HasTV': 'True', 'NoiseLevel': 'average', 'OutdoorSeating': 'False', 'RestaurantsAttire': 'casual', 'RestaurantsDelivery': 'False', 'RestaurantsGoodForGroups': 'True', 'RestaurantsPriceRange2': '2', 'RestaurantsReservations': 'True', 'RestaurantsTakeOut': 'True'}",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Hotels & Travel",Calgary,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0'}",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB

In [8]:
# set index of dataset to business id
yelp_df_busid = yelp_df.set_index('business_id')

In [9]:
# view first row of table where business_id is index
yelp_df_busid.head(1)

,address,attributes,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
business_id,,,,,,,,,,,,,,
Apn5Q_b6Nz61Tq4XzPdf9A,1314 44 Avenue NE,"{'BikeParking': 'False', 'BusinessAcceptsCreditCards': 'True', 'BusinessParking': '{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}', 'GoodForKids': 'True', 'HasTV': 'True', 'NoiseLevel': 'average', 'OutdoorSeating': 'False', 'RestaurantsAttire': 'casual', 'RestaurantsDelivery': 'False', 'RestaurantsGoodForGroups': 'True', 'RestaurantsPriceRange2': '2', 'RestaurantsReservations': 'True', 'RestaurantsTakeOut': 'True'}","Tours, Breweries, Pizza, Restaurants, Food, Hotels & Travel",Calgary,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0'}",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB

In [30]:
yelp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 15 columns):
address         188593 non-null object
attributes      162807 non-null object
business_id     188593 non-null object
categories      188052 non-null object
city            188593 non-null object
hours           143791 non-null object
is_open         188593 non-null int64
latitude        188587 non-null float64
longitude       188587 non-null float64
name            188593 non-null object
neighborhood    188593 non-null object
postal_code     188593 non-null object
review_count    188593 non-null int64
stars           188593 non-null float64
state           188593 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 21.6+ MB

In [10]:
# create new data frame with business ids as index and attributes as columns
# create empty dictionary
diction = {}
# iterate over the rows
for index, row in yelp_df_busid.iterrows():
    # add keys, values to the dictionary using business id and attributes row
    diction[index] = row['attributes']
# create data frame of business id and attributes, transpose
business_att = pd.DataFrame(diction).transpose()

In [11]:
# review top rows to see results
business_att.head(2)

,AcceptsInsurance,AgesAllowed,Alcohol,Ambience,BYOB,BYOBCorkage,BestNights,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,BusinessParking,...,RestaurantsAttire,RestaurantsCounterService,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,Smoking,WheelchairAccessible,WiFi
Apn5Q_b6Nz61Tq4XzPdf9A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,True,"{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}",...,casual,NaN,False,True,2,True,NaN,True,NaN,NaN,NaN
AjEbIBw6ZFfln7ePHha9PA,NaN,NaN,none,NaN,NaN,NaN,NaN,False,NaN,True,"{'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}",...,casual,NaN,False,True,2,False,False,True,NaN,True,no

In [116]:
example = business_att[business_att['WiFi'].notnull()]

In [123]:
example.head(1)

,AcceptsInsurance,AgesAllowed,Alcohol,Ambience,BYOB,BYOBCorkage,BestNights,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,BusinessParking,...,RestaurantsAttire,RestaurantsCounterService,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,Smoking,WheelchairAccessible,WiFi
AjEbIBw6ZFfln7ePHha9PA,NaN,NaN,none,NaN,NaN,NaN,NaN,False,NaN,True,"{'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}",...,casual,NaN,False,True,2,False,False,True,NaN,True,no

In [40]:
business_att.info()

<class 'pandas.core.frame.DataFrame'>
Index: 188593 entries, Apn5Q_b6Nz61Tq4XzPdf9A to NkOvIueadjFUxeCyq_uQEw
Data columns (total 39 columns):
AcceptsInsurance              11671 non-null object
AgesAllowed                   397 non-null object
Alcohol                       47892 non-null object
Ambience                      47577 non-null object
BYOB                          911 non-null object
BYOBCorkage                   1409 non-null object
BestNights                    6844 non-null object
BikeParking                   84891 non-null object
BusinessAcceptsBitcoin        12674 non-null object
BusinessAcceptsCreditCards    140391 non-null object
BusinessParking               103424 non-null object
ByAppointmentOnly             45423 non-null object
Caters                        40038 non-null object
CoatCheck                     8531 non-null object
Corkage                       657 non-null object
DietaryRestrictions           138 non-null object
DogsAllowed                   13681 non-null object
DriveThru                     6754 non-null object
GoodForDancing                9162 non-null object
GoodForKids                   64931 non-null object
GoodForMeal                   47483 non-null object
HairSpecializesIn             1881 non-null object
HappyHour                     9285 non-null object
HasTV                         47533 non-null object
Music                         8807 non-null object
NoiseLevel                    43710 non-null object
Open24Hours                   352 non-null object
OutdoorSeating                54181 non-null object
RestaurantsAttire             48182 non-null object
RestaurantsCounterService     397 non-null object
RestaurantsDelivery           51668 non-null object
RestaurantsGoodForGroups      53839 non-null object
RestaurantsPriceRange2        107120 non-null object
RestaurantsReservations       51363 non-null object
RestaurantsTableService       43325 non-null object
RestaurantsTakeOut            61206 non-null object
Smoking                       8113 non-null object
WheelchairAccessible          52023 non-null object
WiFi                          49026 non-null object
dtypes: object(39)
memory usage: 62.6+ MB

In [148]:
# Ambience
# create new data frame with business ids as index and Ambience as columns
# create empty dictionary
Ambience = {}
# iterate over the rows
for index, row in business_att[business_att['Ambience'].notnull()].iterrows():
    # add keys, values to the dictionary using business id and attributes row
    Ambience[index] = eval(row['Ambience'])

In [149]:
Ambience_df = pd.DataFrame(Ambience).transpose().add_prefix('Ambience_')

In [184]:
# BestNights
# create new data frame with business ids as index and BestNights as columns
# create empty dictionary
BestNights = {}
# iterate over the rows
for index, row in business_att[business_att['BestNights'].notnull()].iterrows():
    # add keys, values to the dictionary using business id and attributes row
    BestNights[index] = eval(row['BestNights'])

In [185]:
# Weekday order
weekdays = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
# create BestNights dataframe
BestNights_df = pd.DataFrame(BestNights).reindex(weekdays).transpose().add_prefix('BestNights_')

In [145]:
# BusinessParking
# create new data frame with business ids as index and BusinessParking as columns
# create empty dictionary
BusinessParking = {}
# iterate over the rows
for index, row in business_att[business_att['BusinessParking'].notnull()].iterrows():
    # add keys, values to the dictionary using business id and attributes row
    BusinessParking[index] = eval(row['BusinessParking'])

In [146]:
BusinessParking_df = pd.DataFrame(BusinessParking).transpose().add_prefix('BusinessParking_')

In [178]:
# DietaryRestrictions
# create new data frame with business ids as index and DietaryRestrictions as columns
# create empty dictionary
DietaryRestrictions = {}
# iterate over the rows
for index, row in business_att[business_att['DietaryRestrictions'].notnull()].iterrows():
    # add keys, values to the dictionary using business id and attributes row
    DietaryRestrictions[index] = eval(row['DietaryRestrictions'])

In [179]:
DietaryRestrictions_df = pd.DataFrame(DietaryRestrictions).transpose().add_prefix('DietaryRestrictions_')

In [181]:
# GoodForMeal
# create new data frame with business ids as index and GoodForMeal as columns
# create empty dictionary
GoodForMeal = {}
# iterate over the rows
for index, row in business_att[business_att['GoodForMeal'].notnull()].iterrows():
    # add keys, values to the dictionary using business id and attributes row
    GoodForMeal[index] = eval(row['GoodForMeal'])

In [187]:
meal_order = ['breakfast', 'brunch', 'lunch', 'dinner', 'dessert', 'latenight']
GoodForMeal_df = pd.DataFrame(GoodForMeal).reindex(meal_order).transpose().add_prefix('GoodForMeals_')

In [189]:
# HairSpecializesIn
# create new data frame with business ids as index and HairSpecializesIn as columns
# create empty dictionary
HairSpecializesIn = {}
# iterate over the rows
for index, row in business_att[business_att['HairSpecializesIn'].notnull()].iterrows():
    # add keys, values to the dictionary using business id and attributes row
    HairSpecializesIn[index] = eval(row['HairSpecializesIn'])

In [190]:
HairSpecializesIn_df = pd.DataFrame(HairSpecializesIn).transpose().add_prefix('HairSpecializesIn_')

In [192]:
# Music
# create new data frame with business ids as index and Music as columns
# create empty dictionary
Music = {}
# iterate over the rows
for index, row in business_att[business_att['Music'].notnull()].iterrows():
    # add keys, values to the dictionary using business id and attributes row
    Music[index] = eval(row['Music'])

In [193]:
Music_df = pd.DataFrame(Music).transpose().add_prefix('Music_')

In [196]:
Music_df.add_prefix('Music_').head()

,Music_background_music,Music_dj,Music_jukebox,Music_karaoke,Music_live,Music_no_music,Music_video
_c3ixq9jYKxhLUB0czi0ug,False,False,False,False,False,False,False
3ByGQOVgds2YEu6kzl-XEQ,False,False,True,False,False,False,False
42uRhhQDzbtKrUYoBPXS8A,False,False,False,False,False,False,False
Go1avDDg--JjbdI2aRJQog,True,False,False,False,False,False,False
cuXCQM-9VwpZlSneEY1b3w,True,False,False,False,False,False,False

In [12]:
# split

In [55]:
# look at unique values across columns to find all nested data
holder = {}
for x in busid_sample:
    holder[x] = busid_sample[x].unique()
    
#business_att.AcceptsInsurance.unique()

In [14]:
# create subset of business attribute table for practice wrangling
busid_sample = business_att.head(10)

In [15]:
# nested columns from attributes - WIP
# create empty dictionary
parking_keys = []
parking_values = []
parking_dict = {}
# iterate over the rows
for index, row in busid_sample.head(2).iterrows():
    # add keys, values to the dictionary using business id and attributes row
    parking_keys.append(index)
    parking_values.append(row)
    parking_dict[index] = row['AcceptsInsurance']