In [55]:
# look at unique values across columns to find all nested data
holder = {}
for x in busid_sample:
    holder[x] = busid_sample[x].unique()
    
#business_att.AcceptsInsurance.unique()

In [11]:
import pandas as pd

In [12]:
import json
from pandas.io.json import json_normalize

In [21]:
# set display options to 22 columns
pd.set_option('display.max_columns', 22)

In [127]:
pd.set_option('max_colwidth', 800)

In [13]:
# read in json file
yelp_df = pd.read_json('/Users/krystlelee/Documents/yelp_academic_dataset_business_revised.json')

In [239]:
yelp_df.iloc[0,1]['BusinessParking']

"{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}"

In [166]:
yelp_df.head(1)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,1314 44 Avenue NE,"{'BikeParking': 'False', 'BusinessAcceptsCreditCards': 'True', 'BusinessParking': '{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}', 'GoodForKids': 'True', 'HasTV': 'True', 'NoiseLevel': 'average', 'OutdoorSeating': 'False', 'RestaurantsAttire': 'casual', 'RestaurantsDelivery': 'False', 'RestaurantsGoodForGroups': 'True', 'RestaurantsPriceRange2': '2', 'RestaurantsReservations': 'True', 'RestaurantsTakeOut': 'True'}",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Hotels & Travel",Calgary,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0'}",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB

In [207]:
# set index of dataset to business id
yelp_df_busid = yelp_df.set_index('business_id')

In [210]:
yelp_df_busid.head(1)

,address,attributes,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
business_id,,,,,,,,,,,,,,
Apn5Q_b6Nz61Tq4XzPdf9A,1314 44 Avenue NE,"{'BikeParking': 'False', 'BusinessAcceptsCreditCards': 'True', 'BusinessParking': '{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}', 'GoodForKids': 'True', 'HasTV': 'True', 'NoiseLevel': 'average', 'OutdoorSeating': 'False', 'RestaurantsAttire': 'casual', 'RestaurantsDelivery': 'False', 'RestaurantsGoodForGroups': 'True', 'RestaurantsPriceRange2': '2', 'RestaurantsReservations': 'True', 'RestaurantsTakeOut': 'True'}","Tours, Breweries, Pizza, Restaurants, Food, Hotels & Travel",Calgary,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0'}",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB

In [208]:
# create new data frame with business ids as index and attributes as columns
# create empty dictionary
diction = {}
# iterate over the rows
for index, row in yelp_df_busid.iterrows():
    # add keys, values to the dictionary using business id and attributes row
    diction[index] = row['attributes']
# create data frame of business id and attributes, transpose
business_att = pd.DataFrame(diction).transpose()

In [209]:
# review top rows to see results
business_att.head(2)

,AcceptsInsurance,AgesAllowed,Alcohol,Ambience,BYOB,BYOBCorkage,BestNights,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,BusinessParking,...,RestaurantsAttire,RestaurantsCounterService,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,Smoking,WheelchairAccessible,WiFi
Apn5Q_b6Nz61Tq4XzPdf9A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,True,"{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}",...,casual,NaN,False,True,2,True,NaN,True,NaN,NaN,NaN
AjEbIBw6ZFfln7ePHha9PA,NaN,NaN,none,NaN,NaN,NaN,NaN,False,NaN,True,"{'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}",...,casual,NaN,False,True,2,False,False,True,NaN,True,no

In [173]:
# split

In [225]:
business_att.iloc[0,10]

"{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}"

In [123]:
# create subset of business attribute table for practice wrangling
busid_sample = business_att.head(10)

In [202]:
# nested columns from attributes - WIP
# create empty dictionary
parking_keys = []
parking_values = []
parking_dict = {}
# iterate over the rows
for index, row in busid_sample.head(2).iterrows():
    # add keys, values to the dictionary using business id and attributes row
    parking_keys.append(index)
    parking_values.append(row)
    parking_dict[index] = row['AcceptsInsurance']

In [218]:
# create new data frame with business ids as index and BusinessParking as columns
# create empty dictionary
test = []
# iterate over the rows
for index, row in busid_sample.iterrows():
    # add keys, values to the dictionary using business id and attributes row
    #test[index] = row['BusinessParking']
    test.append(row['BusinessParking'])

In [213]:
test

["{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}",
 "{'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}",
 "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}",
 None,
 nan,
 "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}",
 "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}",
 "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}",
 "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}",
 "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}"]

In [214]:
type(test)

list

In [215]:
pd.DataFrame(test)

                                                                                      0
0   {'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}
1    {'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}
2  {'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}
3                                                                                  None
4                                                                                   NaN
5   {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}
6  {'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}
7  {'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}
8   {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}
9  {'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}

In [216]:
busid_sample.head(5)

,AcceptsInsurance,AgesAllowed,Alcohol,Ambience,BYOB,BYOBCorkage,BestNights,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,BusinessParking,...,RestaurantsAttire,RestaurantsCounterService,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,Smoking,WheelchairAccessible,WiFi
Apn5Q_b6Nz61Tq4XzPdf9A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,True,"{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}",...,casual,NaN,False,True,2,True,NaN,True,NaN,NaN,NaN
AjEbIBw6ZFfln7ePHha9PA,NaN,NaN,none,NaN,NaN,NaN,NaN,False,NaN,True,"{'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}",...,casual,NaN,False,True,2,False,False,True,NaN,True,no
O8S5hYJ1SMc8fA4QBtVujA,NaN,NaN,beer_and_wine,"{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}",NaN,NaN,NaN,True,NaN,False,"{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}",...,casual,NaN,False,True,2,True,True,False,NaN,NaN,free
bFzdJJ3wp3PZssNEsyU23g,None,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None,None
8USyCYqpScwiNEb58Bt6CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [227]:
d = eval("{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}")

In [234]:
pd.DataFrame(d)

ValueError: If using all scalar values, you must pass an index